.listContainer {
  max-width: 120rem;
}

.listHeading {
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-columns: 16fr 25fr 25fr 25fr;
  padding: 1.5rem;
  background: linear-gradient(25deg,#2600fc,#ff00ea);
  border-radius: 8px 8px 0 0;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: right;
}

.coin {
  display: flex;
  align-items: center;
  text-align: left;
}

.listElement {
  display: grid;
  grid-gap: 2rem;
  gap: 2rem;
  grid-template-columns: 20fr 25fr 25fr 25fr;
  padding: 2.5rem;
  border-bottom: 2px solid #f3f2f4;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: right;
  transition: 0.5s ease;
}

.buttonsContainer {
  display: flex;
  width: 35rem;
  margin: 100px auto 0 auto;
}

.button {
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  border: 2px solid #f3f2f4;
  border-radius: 50%;
  font-size: 2rem;
  color: #f3f2f4;
  background: none;
  cursor: pointer; 
}

.button:hover {
  background-image: linear-gradient(25deg,#2600fc,#ff00ea);
  border: none;
}

.name {
  margin-left: 15px;
}

.green {
  color: #0ecb81;
}

.red {
  color: red;
}

@media (max-width: 1400px) {
  .listContainer {
    overflow-x: scroll;
  }

  .listHeading {
    width: 1600px;
  }

  .listElement {
    width: 1600px;
    padding-right: 0px;
  }
}

.arrow {
  display: none;
  font-size: 40px;
}

.left {
  margin-left: auto;
  margin-right: 20px;
}

.right {
  margin-right: auto;
  margin-left: 20px;
}

@media (max-width: 900px) {
  .buttonsContainer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .button {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 450px) {
  .button {
    display: none;
  }

  .arrow {
    display: block;
  }
} 